// color

$black-color: #000;
$dark-gray-color: #1B1B1B;
$gray-color: #212121;
$white: #fff;
$light-gray:#CCC;
$red-dark-color:#3f0000;
$red-light-color:#b90000;
$red-color:#922525;



$roboto-font: 'Roboto', sans-serif; 
$playfair-font: "Playfair Display", serif;
$montserrat-font: "Montserrat", sans-serif;