.conciertos{
    border-bottom: 2px solid gray;
    padding: 160px 0;
  
    .container-conciertos{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        
    }

    &__title{

        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
    }
    &__btn{

        margin: auto;

    }
}

@media (width < 500px) {

    .conciertos__btn{
        font-size: 1.6rem;
    }
}